.card-container {
    height: 100%;
    width: 100%;
}
.im {
  height: 140%;
  width: auto;
  transform: rotateZ(-90deg);
}

.flip {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
}

.noflip {
  transform: rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
}

.flip-card-back {
    width: 0px;
  color: white;
  transform: rotateX(180deg) rotateY(0deg);
  position: relative;
}

#text-container {
    position: absolute;
    width: 28vw;
    height: 30vw;
    bottom: 0;
    left: 0;
    padding-left: 16px;
}

#text {
    color: #000000;
    font-size: 1.2rem;
    text-align: left;
}

.flip-card {
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}
