.im {
  width: calc(100vw - 32px);
  height: auto;
}

.flip {
  transform: rotateY(180deg);
}

.noflip {
  transform: rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
}

.flip-card-back {
  background-color: blue;
  transform: rotateY(180deg);
  position: relative;
}

#text-container {
    position: absolute;
    width: 50vw;
    height: 50vw;
    bottom: 14vw;
    left: 14vw;
    text-align: left;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#text {
    width: 55vw;
    color: #000000;
    font-size: 1.2rem;
    text-align: left;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
